<div class="footer">
	Copyright &copy; doclai 2016-2025 <br> 
	Powered by <a href="https://gohugo.io/">Hugo</a> with
	<a href="https://github.com/mrmierzejewski/hugo-theme-console/">Console Theme</a>. 
</div>
