{{ define "main" }}

<h1>Khải môn</h1>

<p>
Kìa con ốc nhỏ <br> Chầm chậm chầm chậm <br> Leo đỉnh Fuji <br>  <a href="about/">(more)</a>
</p>

<h1>Ảnh gần đây</h1>

<div class="image-grid-main">
{{ with .Site.GetPage "/photos" }}
    {{ range first 6 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

<h1>Bài viết gần đây</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 1 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
